<div class="text-center">
  <h2>{{title}}</h2>
  <p>{{body}}</p>
  <p>Created by {{user.name}} on {{formatDate dateCreated}}</p>

  {{#if loggedIn}}
  <form class="form new-comment-form">
      <div class="form-group">
        <textarea class="form-input" id="comment-desc" name="comment-desc" placeholder="Leave a new comment!"></textarea>
      </div>
      
      <div class="form-group">
        <button type="submit" id="finishedbutton" class="btn btn-primary">Create comment</button>
      </div>
      
    </form>
  {{/if}}

  {{#each comments as |comment|}}
  <div>
    <div>Created by {{comment.user.name}} on {{formatDate dateCreated}}</div>
    <div>{{comment.body}}</div>
  </div>
  {{/each}}
</div>

{{#if loggedIn}}
<script src="/js/createComment.js"></script>
{{/if}}