<section class="section">
  {{#each blogPosts as |blogPost|}}
  <div class="card mb-5">
    <header class="card-header">
      <p class="card-header-title has-text-white is-size-4"><a href="/blogPost/{{blogPost.id}}">{{blogPost.title}}</a></p>
    </header>
    <div class="card-content">
      <p class="subtitle is-size-6">{{blogPost.body}}</p>
    </div>
    <footer class="card-footer">
      <p class="card-footer-item is-size-7">
        <span>Posted by {{blogPost.user.name}} on {{formatDate blogPost.dateCreated}}</span>
      </p>
    </footer>
  </div>
  {{/each}}
</section>