<section class="section">
	<div class="card mb-5">
		<div class="card-content">
			<header class="card-header mb-5">
				<p class="card-header-title has-text-white is-size-4">
				{{#if createNewBlogPost}} Create a new blog post:
				{{else}} Update this blog post:{{/if}}
				</p>
			</header>

			<div class="card mb-5">
				<div class="card-content">
					<form class="form new-comment-form">
						<div class="form-group">
							<input class="input mb-5 is-size-4" type="text" id="post-name" name="post-name" placeholder="Title" {{#unless createNewBlogPost}}value="{{title}}"{{/unless}}>
						</div>
						<div class="form-group">
							<textarea class="textarea" rows="15" id="post-desc" name="post-desc" placeholder="Body">{{#unless createNewBlogPost}}{{body}}{{/unless}}</textarea>
						</div>
					</form>
				</div>
			</div>

			<footer class="card-footer remove-border-line">
				<button class="button is-dark" id="finishedbutton">{{#if createNewBlogPost}}Create post{{else}}Update post{{/if}}</button>
				<button class="button is-dark ml-5" id="cancelButton">Cancel</button>
			</footer>
		</div>
	</div>
</section>

{{#if createNewBlogPost}}
<script src="/js/createBlogPost.js"></script>
{{else}}
<script src="/js/updateBlogPost.js"></script>
{{/if}}